@import url("http://fonts.googleapis.com/css?family=Inter");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&display=swap');

body,
.card,
.jumbotron,
nav,
footer {
  font-family: "Inter", sans-serif !important;
  border: none !important;
  background-color: black !important;
  color: #989ca2 !important;
  border-radius: 0px !important;
}

.custom-btn {
  background: none !important;
  color: #bdc1c6 !important;
  border-color: #bdc1c6 !important;
  border-radius: 0px !important;
  transition: all 0.3s ease;
  margin: 3px;
}

.custom-btn:hover {
  color: #fac92a !important;
  background: #fac92a20 !important;
  transition: all 0.3s ease;
}

h1, h2, h3, h4, h5 {
  padding-top: 20px;
  line-height:1.5 !important;
  font-family: 'Noto Serif KR', serif;
}

h1, h2, h3{
  color: #fac92a !important;

}

h4, h5, h6{
  color: #f1f3f4 !important;
}

p{
  font-size: 1.15rem;
}

p2 {
  font-size: 0.9 em;
}

.card {
  transition: ease-in 0.5s ease !important;
}

.card:hover {
  transform: translate3D(0, -10px, 0) !important;
  transition: all 0.5s ease !important;
  cursor: pointer;
}

.row{
  margin-top: 20px !important;
}

.no-bullet {
  list-style-type: none;
  padding: 0;
  font-size: 0.9rem;
}

hr {
  background-color: #fac92a !important;
}

.imageNum {
  color: #fac92a !important;
  font-weight: 500;
}

::selection {
  background: #ffffff70;
  color: black;
}
::-moz-selection {
  background: #ffffff70;
  color: black;
}

blockquote, .blockquote-footer{
  background-color: #fac92a30;
  border-left: 4px solid#fac92a;
  padding: 20px !important;
  font-family: 'Noto Serif KR', serif;
  color: #f1f3f4 !important;
}

.dataNum{
  color: #fac92a !important;
  font-weight: bold;
}

cite{
  color: #989ca2 !important;
  font-family: "Inter", sans-serif !important;
}

.dataquote{
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-family: 'Noto Serif KR', serif;
  color: #e3e3e3 !important;
}

.textLink{
  color: #fac92a !important;
}

.FooterLink:hover, .nav-link:hover{
  cursor: pointer !important;
  color: #fac92a !important;
}